/* Copyright 2020 - Alex Craig */

/********************
 *  HEADER STYLING  *
 ********************/

.d-header .title {
    margin-right: 1rem;
}

.d-header-icons .icon,
.d-header-icons .icon:active,
.d-header-icons .icon:hover,
.d-header-icons .icon:focus,
.drop-down-mode .d-header-icons .active .icon {
    margin: 0 0.1rem 0 0;
}

.d-header #site-logo.logo-big {
    width: auto; /* fit-content; if wide logo */
}

/********************
 *    MAIN THEME    *
 ********************/

.topic-body {
    margin-left: 0;
    padding: 15px;
}

.topic-avatar {
    margin-top: 10px;
}

/* images */

.cooked img:not(.thumbnail) {
    max-width: 100% !important;
    height: auto;
}

/* correct padding for header */

#main-outlet {
    padding-top: 5rem;
}

.category-header #main-outlet {
    padding-top: 0 !important;
}

.mobile-view .category-boxes .category-box,
.mobile-view .category-boxes-with-topics .category-box {
    margin-left: 10px;
    margin-right: 10px;
}

.category-topic-link.ember-view .num.posts .topic-post-badges {
    right: 5px;
    position: absolute;
}

.category-list-item {
    margin-bottom: 0;
}

.category-topic-link td.main-link {
    width: 90%;
}

.category-topic-link td.num.posts {
    text-align: right;
    position: absolute;
    right: 2px;
    width: auto !important;
}

/********************
 *      FOOTER      *
 ********************/

 .list-codecademy ul li, .links .list, .list-codecademy span {
    display: none;
}

.list-codecademy ul li:first-child, .list-codecademy ul li:last-child, .links .list.list-codecademy {
    display: inherit;
}

.custom-footer .flexbox {
    padding-top: 0;
}