:root {
  --cc-body-background: #f7f7f7;
  --cc-card-border: #ccc;
  --cc-card-colour: #fff;
  --cc-custom-links-border: #141c3a;
  --cc-description: #7a98a9;
  --cc-footer-link-colour: #3e3e40;
  --cc-footer-link-colour-hover: #4b77e0;
  --cc-footer-header-colour: #646464;
  --cc-link-colour: #3d65c2;
  --cc-link-colour-hover: #225470;
  --cc-link-colour-banner: #59a1c9;
  --cc-modal-background: #111a;
  --cc-moderator-highlight: #e7e4ff;
  --cc-topic-highlights: #e6e7e8;
  --cc-topic-highlights-border: #bcbec0;
  --cc-topic-visited: #919191;
  --highlight-medium: #eaeaea;
}