:root {
  --cc-white: #fff;
  --cc-topic-highlights: #e6e7e8;
  --cc-topic-highlights-border: #bcbec0;
  --cc-grey: #7a98a9;
  --cc-light-blue: #59a1c9;
  --cc-grey-navy: #204056;
  --var-highlight-medium: #eaeaea;
}
