/* Copyright 2021 - Alex Craig */

/********************
 *       FONTS      *
 ********************/

@font-face {
    font-family: Nunito Sans;
    font-display: swap;
    font-weight: 400;
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/38bfbb2fedcb8d06f52e87fa77aad105.eot);
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/8f8fbcc4095c37401c638882bc63b21b.woff2)
            format('woff2'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/521ab168c92451877ce6712a0db4f5e7.woff) format('woff'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/8e98e9732a7b5fd7012ae3527c43b971.ttf) format('ttf');
}

@font-face {
    font-family: Nunito Sans;
    font-display: swap;
    font-weight: 700;
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/71748a16292070f9f5e41ae77e10a9f4.eot);
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/10c6b3611734c6f586a233d41c1cdf46.woff2)
            format('woff2'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/e3c2f4d640f19fdbf602b8bb4392f6af.woff) format('woff'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/3ec73bbdc261ff37a3067e4ec8c09c10.ttf) format('ttf');
}

@font-face {
    font-family: Regular Bold;
    font-display: swap;
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/28324c882a2d4c8be68b5f6ce9b39204.eot);
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/3861e7bced4765ac7456df8ec72e42d5.woff2)
            format('woff2'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/565e47e2f3a53ea0244f2e298162bcca.woff) format('woff'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/259392ba68211cadb5d389c1d6bc7123.svg) format('svg');
}

@font-face {
    font-family: Regular Patch;
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/71748a16292070f9f5e41ae77e10a9f4.eot);
    src: url(https://codecademy-discourse.s3.amazonaws.com/discuss/10c6b3611734c6f586a233d41c1cdf46.woff2)
            format('woff2'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/e3c2f4d640f19fdbf602b8bb4392f6af.woff) format('woff'),
        url(https://codecademy-discourse.s3.amazonaws.com/discuss/3ec73bbdc261ff37a3067e4ec8c09c10.ttf) format('ttf');
    unicode-range: u+003c, u+003e;
}

.badge-notification,
.d-header .icons {
    font-family: Helvetica, Arial, sans-serif;
}

.d-editor-input,
.ember-text-area {
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

/********************
 *   BANNER         *
 ********************/

body,
#banner #welcome-text {
    font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
}

.fancy-title,
#banner h2 {
    font-family: Regular Patch, Regular Bold, Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/********************
 *   BUTTON STYLES  *
 ********************/

#site-logo {
    padding: 6px 16px;
}

/* button styling */
.btn:hover,
.btn[href]:hover {
    background-color: var(--tertiary);
    color: var(--secondary);

    .d-icon {
        color: var(--secondary);
    }
}

.btn-primary {
    background-color: var(--tertiary);

    &:active,
    &:focus,
    &:hover {
        background-color: var(--cc-link-colour);
        background-image: none;
        outline: none;
    }
}

.d-editor-button-bar .btn:hover,
.d-editor-button-bar .btn:hover .d-icon {
    background-color: inherit;
    color: inherit;
}

.post-admin-menu .btn:hover,
.post-admin-menu .btn:hover .d-icon,
.topic-admin-popup-menu .btn:hover,
.topic-admin-popup-menu .btn:hover .d-icon {
    background: var(--primary-low);
    color: inherit;
    font-weight: bold;
}

/********************
 *  HEADER STYLING  *
 ********************/

.d-header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0.65rem 0;

    .d-header-icons .d-icon,
    .d-header-icons .icon,
    .header-buttons .custom-header-links .headerLink a {
        color: var(--primary-medium);
    }

    .d-header-icons .d-icon,
    .d-header-icons .icon,
    .d-header-icons .icon:active,
    .d-header-icons .icon:focus,
    .d-header-icons .icon:hover,
    .drop-down-mode .d-header-icons .active .icon {
        border: none;
        background: none;
        margin: 0 2rem 0 0;
        padding: 0.2rem;
    }

    .d-header-icons .icon:active .d-icon,
    .d-header-icons .icon:focus .d-icon,
    .d-header-icons .icon:hover .d-icon,
    .d-header-icons .d-icon:active,
    .d-header-icons .d-icon:focus,
    .d-header-icons .d-icon:hover,
    .drop-down-mode .d-header-icons .active .icon .d-icon,
    .header-buttons .custom-header-links .headerLink a:active,
    .header-buttons .custom-header-links .headerLink a:focus,
    .header-buttons .custom-header-links .headerLink a:hover,
    #site-logo:focus {
        border-radius: 2px;
        box-shadow: 0 0 0 2px var(--secondary), 0 0 0 4px var(--cc-custom-links-border);
        color: var(--primary) !important;
        outline: none;
    }
}

/********************
 *    MAIN THEME    *
 ********************/

/* 
 * GENERAL
*/

a.fancy-title,
body,
.badge-category .clear-badge,
.badge-wrapper.bullet span.badge-category,
.category-description,
.category-list tbody .category h3 a[href],
.extra-info-wrapper .topic-link,
.names span a {
    font-weight: lighter;
}

body {
    background: var(--cc-body-background);
}

.modal-backdrop {
    background: var(--cc-modal-background);
}

/* spinner */
.spinner {
    padding: 0 !important;
}

#main-outlet {
    flex: 1 0 auto;
    padding-top: 10px !important;

    div.container:first-of-type {
        margin-top: 0px !important;
    }
}

/* 
 * LINK COLOURS
*/

a,
a:active,
a.hashtag,
a.mention,
.menu-panel a:visited,
.menu-panel a:hover {
    color: var(--cc-link-colour);
}

a:hover,
a:visited,
a.hashtag:visited,
a.hashtag:hover,
.cooked a:visited,
.topic-list a.title.visited:not(.badge-notification),
.topic-list a.title:visited:not(.badge-notification),
aside.onebox .onebox-body a[href]:visited,
a.mention:visited,
a.mention:hover {
    color: var(--cc-link-colour-hover);
}

.cooked a[href], #welcome-message a:hover {
    text-decoration: underline;
}

/* 
 * TABLES
*/

tr,
.latest-topic-list-item {
    border-bottom: 4px solid var(--cc-body-background);
}

/* move little blue dot */
.read-state {
    margin-right: 10px;
}

/* 
 * CATEGORIES
*/

/* categories page */

/* table alignment */
th {
    &.category span {
        padding-left: 5px;
    }

    &.latest {
        padding-left: 12px;
    }
}

.category-heading {
    display: none;
}

.category-list {
    .featured-topic {
        margin-right: 10px;
    }

    /* table color */
    td {
        color: var(--cc-custom-links-border);
    }
}

.category-list,
.latest-topic-list,
.suggested-topics table,
.topic-list {
    background: var(--secondary);
}

.category-list.with-topics tbody tr.has-description.no-logo,
.category-list.with-topics .category-list-item.category {
    outline: 3px solid var(--cc-body-background);
}

.list-controls {
    margin-bottom: 0;
}

/* Settings on category */
#bulk-select {
    background-color: inherit;
}

/* 
 * SUB-CATEGORY BOXES
*/

/* sub cat banner */
a.mention,
a.mention-group {
    background: inherit;
}

/* category header banner */
div[class^='category-title-header'] {
    font-size: 17px;

    img {
        padding-left: 0;
        margin-left: -51px;
    }
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
    background: var(--secondary);
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

    &:hover {
        box-shadow: -2px 8px 22px 0 rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.25s ease-in;
    }
}

.category-boxes .category-box,
.category-boxes-with-topics .category-box {
    border-left-width: 0;
    border-top-width: 6px;
    width: 23%;
}

/* 
 * TOPICS
*/

aside.onebox,
aside.quote,
aside.quote .title,
blockquote,
a.mention,
.cooked code,
.cooked pre {
    background-color: var(--cc-topic-highlights);
}

aside.onebox,
blockquote,
hr,
.cooked img:not(.emoji),
.cooked pre,
.mention,
.quote,
.topic-avatar,
.topic-body,
#topic-closing-info {
    border-color: var(--cc-topic-highlights-border);
}

aside.onebox,
aside.quote,
blockquote,
.cooked img:not(.emoji),
.cooked pre {
    border-style: solid;
    border-width: 1px;
}

aside.onebox,
aside.quote,
blockquote {
    border-left-width: 5px;
}

aside.quote blockquote {
    border: none;
}

.admin-controls nav:after {
    background: none;
}

/* replies customisation */
.embedded-posts.bottom,
.embedded-posts.bottom .row .topic-avatar,
.embedded-posts.bottom .row .topic-body {
    border: none;
}

.extra-info-wrapper .topic-link {
    font-size: 15px;
}

.hide-reply-quote button.widget-button.reply,
.hide-reply-quote .quote-button {
    display: none;
}

/* presence users */
.presence-users {
    background-color: var(--cc-body-background);
}

/* fix */
.suggested-topics .suggested-topics-title {
    display: inherit;
}

.topic-list .topic-excerpt {
    color: var(--cc-description);
}

.topic-avatar {
    border: none;

    > a,
    > svg {
        padding-left: 10px;
    }

    > .placeholder-avatar {
        margin-left: 10px;
    }
}

.topic-body {
    border: none;
    background: var(--secondary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    margin-left: -45px;
    padding-left: 55px;
    padding-right: 15px;

    /* make tables user's post look normal */
    tr {
        border-bottom: 1px solid var(--primary-low);
    }
}

.timeline-container {
    z-index: 1;

    &:not(.timeline-docked) {
        top: 68px !important;
    }

    .topic-timeline {
        margin-top: 15px;

        .timeline-handle {
            background-color: var(--tertiary);
        }

        .timeline-scrollarea {
            border-color: var(--tertiary);
        }
    }
}

#topic-progress {
    height: 41px;
}

@media (max-width: 818px) {
    .topic-body {
        width: calc(100%);
        box-sizing: border-box;
    }

    div[class^='category-title-header'] img {
        display: none;
    }
}

/* 
 * POSTS
*/

.gap,
.post-notice {
    margin-bottom: 10px;
}

.post-notice {
    max-width: calc(690px + 45px + 27px - 0.1em);
}

/* 
 * PAGES
*/

.admin-content,
.user-main {
    background: var(--secondary);
    padding: 10px;
}

#group-card,
#user-card {
    border: 1px solid var(--cc-card-border);
    padding: 0;
}

/* 
 * FLAGS PAGES
*/

.reviewable-item {
    background: var(--secondary);
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
}

/* 
 * USERS 
*/

.names span a,
.names .fa,
.moderator .clearfix > .topic-meta-data > .names span.user-title {
    color: black !important;
}

.user-info {
    &.small {
        width: 300px;
        margin-right: 13px;
        padding: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background: var(--cc-card-colour);
    }

    &.medium {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background: var(--cc-card-colour);

        .user-image {
            padding: 10px 0 0 10px;
        }
    }
}

table.group-members .user-info.small,
.summary-user-list .user-info {
    box-shadow: none;
}

/* 
 * BADGES 
*/

.badge-card.large .badge-contents,
.badge-group-list .badge-contents {
    background: var(--cc-card-colour);
}

.badge-card.large,
.badge-group-list .badge-card {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.badge-info.user-info.medium .user-detail {
    padding-top: 10px;
}

/* 
 * MODERATOR COLOURS
*/

.moderator {
    .topic-body {
        background-color: var(--cc-moderator-highlight);
    }

    .clearfix > .topic-meta-data > .names span.user-title a,
    .regular > .cooked {
        background-color: inherit;
    }
}

body .moderator .highlighted {
    animation: background-moderator-fade-highlight 2.5s ease-out;
}

@keyframes background-moderator-fade-highlight {
    0% {
        background-color: var(--secondary);
    }
    100% {
        background-color: var(--cc-moderator-highlight);
    }
}

/* 
 * HIGHLIGHTS
*/

body .highlighted {
    animation: background-fade-highlight 2.5s ease-out;
}

@keyframes background-fade-highlight {
    0% {
        background-color: dark-light-diff($tertiary, $secondary, 85%, -65%);
    }
    100% {
        background-color: var(--secondary);
    }
}

/* 
 * HIDE PARTS OF INTERFACE
*/

section.about.stats,
.category-list .subcategories {
    display: none;
}

/********************
 *       FOOTER      *
 ********************/

@import 'common/foundation/variables';

.custom-footer {
    background: var(--secondary);
    border-top: 1px solid var(--primary-low);
    display: flex;
    flex-wrap: wrap;

    .d-icon {
        color: var(--cc-footer-link-colour);
        margin-right: 5px;
        min-height: 20px;
        min-width: 20px;
        opacity: 0.7;
        text-align: center;

        &.fa-none {
            min-width: unset;
        }
        .rtl & {
            margin-right: 0;
            margin-left: 5px;
        }
    }

    .flexbox {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: var(--cc-footer-header-colour);
        padding: 1.5rem 0 0.75rem 0;
        font-size: 1rem;
    }

    .footer-links {
        flex: 1;
        min-width: 165px;
        .divider {
            font-size: 1.1rem;
        }
    }

    .footer-section-link-wrapper a {
        color: var(--cc-footer-link-colour);
        &:hover {
            color: var(--cc-footer-link-colour-hover);
        }
    }

    .hide-opacity {
        opacity: 0;
    }

    .list {
        margin: 1em;
        margin-top: 0;

        span {
            color: #000;
            font-size: 1rem;
        }

        .social {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            .social-link {
                margin-right: 0.5em;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: $secondary;
                    min-width: unset;
                    margin: 0;
                    font-size: $font-up-2;
                    opacity: 1;
                }
            }
        }
    }

    .list-catalog,
    .list-codecademy,
    .list-resources {
        flex: 1;
    }

    .list-languages {
        display: flex;
        justify-content: space-around;
        flex: 2;
    }

    .list-catalog2 {
        order: 4;
    }

    .list-catalog3 {
        order: 5;
    }

    .second-box {
        flex: 1;
        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            ul {
                list-style: none;
                margin: 0;
            }
            li {
                margin: 0.5em 0;
            }
            .subheader {
                color: var(--cc-footer-header-colour);
                font-weight: 700;
                font-size: 0.875rem;
            }
        }
    }

    .third-box {
        align-items: center;
        border-top: 1px solid var(--primary-low);
        padding-top: 0.75rem;
        display: flex;
        width: 100%;
        .small-link {
            margin: 0 0.25em;
        }
        .copyright {
            text-align: right;
        }
    }
}

@media screen and (max-width: 1120px) {
    .custom-footer {
        .first-box {
            max-width: 100%;
            border-bottom: 1px solid rgba($primary-low, 0.05);
            margin-bottom: 1em;
            padding-bottom: 1em;

            .blurb {
                display: flex;
                align-items: center;
            }
        }
        .third-box {
            margin-top: 0.5em;
        }
        .list {
            margin: 0;
        }
    }
}

@media screen and (max-width: 660px) {
    .custom-footer {
        .first-box {
            width: 100%;
        }
        .list {
            margin-top: 1em;
            display: inline-block;
            vertical-align: top;
        }
        .links {
            display: inline-block;
        }
        .list-codecademy {
            order: 1;
            min-width: 50%;
        }
        .list-resources {
            order: 2;
            min-width: 50%;
        }
        .list-catalog {
            order: 3;
            flex: 6;
            min-width: 50%;
        }
        .list-languages {
            margin-top: 0;
            order: 4;
            flex: 6;
            display: flex;
            justify-content: space-between;
            min-width: 50%;
        }
        .list-catalog2 {
            order: 4;
            flex: 4;
        }
        .list-catalog3 {
            order: 5;
            flex: 2;
        }
    }
}
