/* Copyright 2021 - Alex Craig */

/********************
 *   BUTTON STYLES  *
 ********************/

.custom-header-links li {
    margin-right: 20px;
}

.btn[href]:focus {
    color: var(--secondary);
}

/********************
 *  HEADER STYLING  *
 ********************/

.menu-panel.drop-down,
.menu-panel.slide-in {
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23), 0 50px 100px rgba(50, 50, 93, 0.1),
        0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px !important;
}

.d-header {
    height: 3em;

    #site-logo.logo-big {
        max-height: 25px;
    }
}

/********************
 * NONUNIFORM-WIDTH *
 ********************/

.d-header .contents {
    max-width: 1410px;
    padding: 0;
}

.d-header > .wrap .contents {
    padding-left: 30px;
}

.wrap {
    max-width: none;

    > * {
        max-width: $large-width;
        margin-right: auto;
        margin-left: auto;
        padding: 0 8px;
    }
}

/********************
 *    MAIN THEME    *
 ********************/

.topic-avatar .avatar-flair {
    margin-bottom: -4px;
    margin-right: -7px;
}

.topic-list tbody td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-panel.slide-in {
    max-height: 90vh;

    .panel-body-contents.clearfix {
        padding-bottom: 10px;
    }
}

/********************
 *      FOOTER      *
 ********************/

#list-area {
    margin-bottom: 0;
}

#main > div:first-child {
    min-height: 100vh;
}
