/* Copyright 2021 - Alex Craig */

/********************
 *   BUTTON STYLES  *
 ********************/

.custom-header-links li {
    margin-right: 20px;
}

/********************
 *  HEADER STYLING  *
 ********************/

.menu-panel.drop-down,
.menu-panel.slide-in {
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23), 0 50px 100px rgba(50, 50, 93, 0.1),
        0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px !important;
}

/********************
 *    MAIN THEME    *
 ********************/

aside.onebox,
aside.quote,
aside.quote .title,
blockquote,
a.mention,
.cooked code,
.cooked pre,
.moderator .topic-body {
    background-color: var(--cc-topic-highlights);
}

aside.onebox,
blockquote,
hr,§
.cooked img:not(.emoji),
.cooked pre,
.mention,
.quote,
.topic-avatar,
.topic-body,
#topic-closing-info {
    border-color: var(--cc-topic-highlights-border);
}

aside.onebox,
aside.quote,
blockquote,
.cooked img:not(.emoji),
.cooked pre {
    border-style: solid;
    border-width: 1px;
}

aside.onebox,
aside.quote,
blockquote {
    border-left-width: 5px;
}

aside.quote blockquote {
    border: none;
}

section.about.stats,
.category-list .subcategories {
    display: none;
}

.cooked a[href] {
    text-decoration: underline;
}

.extra-info-wrapper .topic-link {
    line-height: normal;
    font-size: 15px;
}

.topic-avatar .avatar-flair {
    margin-bottom: -4px;
    margin-right: -7px;
}

.topic-list .topic-excerpt {
    color: var(--cc-grey);
}

.topic-list tbody td {
    padding-top: 20px;
    padding-bottom: 20px;
}

#topic-title h1 {
    line-height: normal;
}

a.fancy-title,
body, 
.badge-category .clear-badge,
.badge-wrapper.bullet span.badge-category,
.category-description,
.category-list tbody .category h3 a[href],
.extra-info-wrapper .topic-link,
.names span a {
    font-weight: lighter;
}

.badge-notification,
.d-header .icons {
    font-family: Helvetica, Arial, sans-serif;
}

.category-list td {
    color: var(--cc-grey-navy);
}

.menu-panel.slide-in {
    max-height: 90vh;

    .panel-body-contents.clearfix {
        padding-bottom: 10px;
    }
}

/********************
 *      FOOTER      *
 ********************/

#list-area {
    margin-bottom: 50px;
}

#main > div:first-child {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/********************
 * NONUNIFORM-WIDTH *
 ********************/

.d-header .contents {
    max-width: 1410px;
    padding-left: 0;
    padding-right: 0;
}

.d-header > .wrap .contents {
    padding-left: 30px;
}

.wrap {
    max-width: none;

    > * {
        max-width: $large-width;
        margin-right: auto;
        margin-left: auto;
        padding: 0 8px;
    }
}

/********************
 *  BANNER STYLING  *
 ********************/

#banner {
    background-color: var(--cc-white);
    box-shadow: none;
    max-height: none;
    padding-bottom: 20px;
    padding-top: 0;
    width: 100%;

    h2 {
        font-size: 50px;
        font-weight: normal;
        line-height: normal;
    }
}

.d-header {
    height: 3em;

    .title {
        line-height: 36px;
        max-height: 32px;
    }

    #site-logo.logo-big {
        max-height: 25px;
        margin: 0 5px 0 0;
    }
}

#welcome-message {
    margin-top: 0;

    a {
        &:link,
        &:hover,
        &:visited,
        &:active {
            color: var(--cc-light-blue);
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 480px) {
    #banner {
        display: none;
    }
}

@media (min-width: 480px) {
    #welcome-text {
        float: left;
        font-weight: lighter;
        padding-right: 2%;
        width: 61%;
    }

    #welcome-resources {
        float: right;
        font-weight: lighter;
        width: 31%;
    }
}

@media (min-width: 1200px) {
    #circle-img-welcome {
        background-image: url('https://s3.amazonaws.com/codecademy-images/discuss/social-avatar-circle%402x.png');
        background-size: cover;
        border: 32px solid #f4f7f8;
        border-radius: 250px;
        float: left;
        height: 175px;
        margin: 0;
        position: relative;
        width: 175px;
    }

    #welcome-message {
        float: right;
        margin-top: 15px;
        width: 74%;
    }
}
